.item {
    width: 300px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    padding: 10px 25px;
    align-items: center;
    border: 1px black solid;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.item:last-child{
    margin-bottom: 80px;
}


.status {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}

.avatar {
    width: 75px;
}

.name {
    font-weight: 600;
    color: rgb(14, 14, 14);
    font-size: 32px;
}