.table{
    margin: 0 auto;
            border: 1px solid black;
}

.tableth{
    font-weight: bold;
            padding: 7px;
            background: red;
            border: none;
            text-align: left;
            font-size: 15px;
            border-top: 2.5px solid #fff;
            border-bottom: 3px solid red;
}

.tabletd{
    padding: '7px';
    border: 'none';
    border-top: '3px solid black';
    border-bottom: '3px solid #fff';
    border-right: '3px solid black';
    font-size: '15px';
}